*.iml
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.idea/
bower_components/
.classpath
.project
.settings/
approximation1
approximation2
approximation3
approximation4
approximation5
approximation6
approximation7
approximation8
approximation9
approximation10
approximation11
approximation12
approximation13
approximation14
approximation15
approximation16
approximation17
approximation18
approximation19
approximation20
mvnw
mvnw.cmd
*.txt
