<div>
        <div class="container">
            <h3>Lista dostępnych firm: </h3>
            <span class="glyphicons glyphicons-sorting"></span>
            <br>

            <a href="/companies/1" class="button">Sortuj po nazwie</a>
            <a href="/companies/2" class="button">Sortuj po symbolu</a>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Nazwa spółki</th>
                    <th>Skrót nazwy</th>
                    <th>Opcje</th>
                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="result in companies">
                <!--<tr dir-paginate="result in companies|itemsPerPage:10" pagination-id="pagination1">-->
                    <td>{{result.fullName}}</td>
                    <td>{{result.symbol}}</td>
                    <td><a class="btn btn-primary" href="/graph/{{result.id}}" role="button">Zobacz wykres</a></td>
                </tr>
                </tbody>
            </table>
            <!--<dir-pagination-controls-->
                    <!--pagination-id="pagination1"-->
                    <!--max-size="7"-->
                    <!--direction-links="true"-->
                    <!--boundary-links="true">-->
            <!--</dir-pagination-controls>-->
        </div>
</div>