<div>
    <div ng-controller="companiesController">

        <div class="container">
            <h3>Lista dostępnych firm: </h3>
            <br>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Nazwa spółki</th>
                    <th>Skrót nazwy</th>
                    <th>Opcje</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="result in companies">
                    <td>{{result.fullName}}</td>
                    <td>{{result.symbol}}</td>
                    <td><a href="/graph" class="btn btn-primary  btn-md active" role="button" aria-pressed="true">Zobacz wykres</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>