<head>
<link href="css/custom.css" rel="stylesheet"/>
</head>

<div ng-controller="currenciesController">
    <div id="currencyDiv0" >
        <div  class="container" id="currencyDiv1">
            <h3></h3>
            <h3>Aktualne średnie kursy walut na dzień: {{getLastDate.date}}</h3>
            <br>
            <div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Currency code</th>
                        <th>Currency name</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="result in exchangeRate">
                        <td>{{result.code}}</td>
                        <td>{{result.name}}</td>
                        <td>{{result.value}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="currencyDiv2" align="center">
            <br/><br/>
            <h3>Kwota: </h3>
            <input type="text" ng-model="amount" name="Kwota" value="100.00" style="font-size:120%;" ng-change="calculate()"><br>
            <h3>Przelicz z: </h3>
            <select ng-model="selected" ng-change="calculate()">
                <option selected disabled value="">Wybierz walutę</option>
                <option value="PLN">PLN - Polski złoty</option>
                <option class="btn-default dropdown-toggle"  ng-repeat="result in exchangeRate" value="{{result.code}}">{{result.code}} - {{result.name}}</option>
            </select>
            <h3>Przelicz na: </h3>
            <select ng-model="selected2" ng-change="calculate()">
                <option selected disabled value="">Wybierz walutę</option>
                <option value="PLN">PLN - Polski złoty</option>
                <option class="btn-default dropdown-toggle" ng-repeat="result in exchangeRate" value="{{result.code}}">{{result.code}} - {{result.name}}</option>
            </select>

            <h3>Obliczona wartość: {{calculatedValue}}</h3>

            <h5>* według aktualnego średniego kursu NBP</h5>
        </div>
    </div>
</div>
<div ng-controller="currenciesChartCtrl">
    <div id="prognozy">
        <div>
            <div align="center">
            <p>Wykres warości walut w ostatnich dniach roboczych</p>

            <select ng-model="selected3" ng-change="showChart()">
                <option selected disabled value="">Wybierz walutę</option>
                <option class="btn-default dropdown-toggle" ng-repeat="result in exchangeRate" value="{{result.code}}">{{result.code}} - {{result.name}}</option>
            </select>
            <br/>
            <br/>
            <div id="chart" style="width: 90%; height: 260px;"></div>
            </div>
            <div class="container">
                <div ng-if="exchangeRate">
                    <h3>Punkt(Data, Wartość waluty)</h3>
                    <br>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Data</th>
                            <th>Wartość waluty</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="result in exchangeRateChartForTable">
                            <td>{{result.x}}</td>
                            <td>{{result.y}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>