<div>

    <div ng-controller="currenciesController">

        <div class="container">
            <h3>Aktualne kursy walut na dzień: {{date.date}}</h3>
            <br>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Currency code</th>
                    <th>Currency name</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="result in exchangeRate">
                    <td>{{result.code}}</td>
                    <td>{{result.name}}</td>
                    <td>{{result.value}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>