
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="UserProfile">
    <meta name="author" content="StackMarket">

</head>
<body>

<div class="container-fluid">
    <h1>Aplikacja Stockmarket</h1> <br/>
    <p>Uzupełnij bazę danych listą firm:</p>
    <a class="btn btn-primary" href="/newCompany" role="button">Uzupełnij</a>
</div>
</body>
</html>